trunk/src/etWeb/Web References/et/fachada.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPermisosPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPermisosPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerPermisosPorUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="listaUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaUsuariosResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="usuario" nillable="true" type="tns:usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_ingreso" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="id_rol" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rol" type="tns:rol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="rol">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="permiso" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="listaPorRol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaPorRolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaPorRolResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaClientePorAgente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreAgente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaClientePorAgenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaClientePorAgenteResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="borrarUsuarioPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="borrarUsuarioPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="borrarUsuarioPorIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usuarioPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usuarioPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioPorIdResult" type="tns:usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unUsuario" type="tns:usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unCliente" type="tns:usuario" />
            <s:element minOccurs="0" maxOccurs="1" name="unAgente" type="tns:usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="unUsuario" type="tns:usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestas">
        <s:complexType />
      </s:element>
      <s:element name="listaEncuestasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaEncuestasResult" type="tns:ListaEncuestaResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaEncuestaResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResultWs">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ListaEncuestas" type="tns:ArrayOfEncuesta" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResultWs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEncuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="encuesta" nillable="true" type="tns:encuesta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="encuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_ingreso" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="f_modificacion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="f_vigencia" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="f_cierre" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="id_cliente" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="encuestaPorIdPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="encuestaPorIdPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encuestaPorIdPasswordResult" type="tns:ResultWs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="encuestaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="encuestaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encuestaPorIdResult" type="tns:ListaEncuestaResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPregunta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idEncuesta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="respuesta" type="tns:respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="contador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="id_pregunta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="id_proxima_pregunta" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pregunta" type="tns:pregunta" />
          <s:element minOccurs="0" maxOccurs="1" name="pregunta1" type="tns:pregunta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="pregunta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="planteo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_ultima_respuesta" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="id_encuesta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nro_pregunta" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="encuesta" type="tns:encuesta" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPreguntaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPreguntaResult" type="tns:ResultWs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorIdAgente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idAgente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorIdAgenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaEncuestasPorIdAgenteResult" type="tns:ArrayOfEncuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorIdCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorIdClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaEncuestasPorIdClienteResult" type="tns:ArrayOfEncuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarEncuesta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaEncuesta" type="tns:encuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarEncuestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarEncuestaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarEncuesta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="unaEncuesta" type="tns:encuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarEncuestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarEncuestaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorFechaIngreso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fechaInicial" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFinal" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="idAgente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorFechaIngresoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaEncuestasPorFechaIngresoResult" type="tns:ArrayOfEncuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorFechaVigencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fechaInicial" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFinal" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="idAgente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorFechaVigenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaEncuestasPorFechaVigenciaResult" type="tns:ArrayOfEncuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorFechaCierre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fechaInicial" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFinal" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="idAgente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestasPorFechaCierreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaEncuestasPorFechaCierreResult" type="tns:ArrayOfEncuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarPregunta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaPregunta" type="tns:pregunta" />
            <s:element minOccurs="0" maxOccurs="1" name="unaEncuesta" type="tns:encuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarPreguntaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarPreguntaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarRespuesta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaRespuesta" type="tns:respuesta" />
            <s:element minOccurs="0" maxOccurs="1" name="unaPregunta" type="tns:pregunta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarRespuestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarRespuestaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="preguntaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPregunta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="preguntaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preguntaPorIdResult" type="tns:pregunta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="respuestasPorPregunta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaPregunta" type="tns:pregunta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="respuestasPorPreguntaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="respuestasPorPreguntaResult" type="tns:ArrayOfRespuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRespuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="respuesta" nillable="true" type="tns:respuesta" />
        </s:sequence>
      </s:complexType>
      <s:element name="preguntasPorEncuesta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaEncuesta" type="tns:encuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="preguntasPorEncuestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preguntasPorEncuestaResult" type="tns:ArrayOfPregunta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPregunta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="pregunta" nillable="true" type="tns:pregunta" />
        </s:sequence>
      </s:complexType>
      <s:element name="listaRoles">
        <s:complexType />
      </s:element>
      <s:element name="listaRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaRolesResult" type="tns:ArrayOfRol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="rol" nillable="true" type="tns:rol" />
        </s:sequence>
      </s:complexType>
      <s:element name="rolPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rolPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rolPorIdResult" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rolPorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rolPorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rolPorNombreResult" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarRol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unRol" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarRolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarRolResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarRol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="unRol" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarRolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarRolResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:validarUsuario" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:validarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerPermisosPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerPermisosPorUsuario" />
  </wsdl:message>
  <wsdl:message name="obtenerPermisosPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerPermisosPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="listaUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:listaUsuarios" />
  </wsdl:message>
  <wsdl:message name="listaUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:listaUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="listaPorRolSoapIn">
    <wsdl:part name="parameters" element="tns:listaPorRol" />
  </wsdl:message>
  <wsdl:message name="listaPorRolSoapOut">
    <wsdl:part name="parameters" element="tns:listaPorRolResponse" />
  </wsdl:message>
  <wsdl:message name="listaClientePorAgenteSoapIn">
    <wsdl:part name="parameters" element="tns:listaClientePorAgente" />
  </wsdl:message>
  <wsdl:message name="listaClientePorAgenteSoapOut">
    <wsdl:part name="parameters" element="tns:listaClientePorAgenteResponse" />
  </wsdl:message>
  <wsdl:message name="borrarUsuarioPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:borrarUsuarioPorId" />
  </wsdl:message>
  <wsdl:message name="borrarUsuarioPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:borrarUsuarioPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="usuarioPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:usuarioPorId" />
  </wsdl:message>
  <wsdl:message name="usuarioPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:usuarioPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="insertarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:insertarCliente" />
  </wsdl:message>
  <wsdl:message name="insertarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:insertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="actualizarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasSoapIn">
    <wsdl:part name="parameters" element="tns:listaEncuestas" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasSoapOut">
    <wsdl:part name="parameters" element="tns:listaEncuestasResponse" />
  </wsdl:message>
  <wsdl:message name="encuestaPorIdPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:encuestaPorIdPassword" />
  </wsdl:message>
  <wsdl:message name="encuestaPorIdPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:encuestaPorIdPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="encuestaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:encuestaPorId" />
  </wsdl:message>
  <wsdl:message name="encuestaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:encuestaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="getPreguntaSoapIn">
    <wsdl:part name="parameters" element="tns:getPregunta" />
  </wsdl:message>
  <wsdl:message name="getPreguntaSoapOut">
    <wsdl:part name="parameters" element="tns:getPreguntaResponse" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorIdAgenteSoapIn">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorIdAgente" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorIdAgenteSoapOut">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorIdAgenteResponse" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorIdClienteSoapIn">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorIdCliente" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorIdClienteSoapOut">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorIdClienteResponse" />
  </wsdl:message>
  <wsdl:message name="insertarEncuestaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarEncuesta" />
  </wsdl:message>
  <wsdl:message name="insertarEncuestaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarEncuestaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarEncuesta" />
  </wsdl:message>
  <wsdl:message name="actualizarEncuestaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorFechaIngresoSoapIn">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorFechaIngreso" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorFechaIngresoSoapOut">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorFechaIngresoResponse" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorFechaVigenciaSoapIn">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorFechaVigencia" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorFechaVigenciaSoapOut">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorFechaVigenciaResponse" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorFechaCierreSoapIn">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorFechaCierre" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasPorFechaCierreSoapOut">
    <wsdl:part name="parameters" element="tns:listaEncuestasPorFechaCierreResponse" />
  </wsdl:message>
  <wsdl:message name="insertarPreguntaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarPregunta" />
  </wsdl:message>
  <wsdl:message name="insertarPreguntaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarPreguntaResponse" />
  </wsdl:message>
  <wsdl:message name="insertarRespuestaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarRespuesta" />
  </wsdl:message>
  <wsdl:message name="insertarRespuestaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarRespuestaResponse" />
  </wsdl:message>
  <wsdl:message name="preguntaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:preguntaPorId" />
  </wsdl:message>
  <wsdl:message name="preguntaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:preguntaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="respuestasPorPreguntaSoapIn">
    <wsdl:part name="parameters" element="tns:respuestasPorPregunta" />
  </wsdl:message>
  <wsdl:message name="respuestasPorPreguntaSoapOut">
    <wsdl:part name="parameters" element="tns:respuestasPorPreguntaResponse" />
  </wsdl:message>
  <wsdl:message name="preguntasPorEncuestaSoapIn">
    <wsdl:part name="parameters" element="tns:preguntasPorEncuesta" />
  </wsdl:message>
  <wsdl:message name="preguntasPorEncuestaSoapOut">
    <wsdl:part name="parameters" element="tns:preguntasPorEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="listaRolesSoapIn">
    <wsdl:part name="parameters" element="tns:listaRoles" />
  </wsdl:message>
  <wsdl:message name="listaRolesSoapOut">
    <wsdl:part name="parameters" element="tns:listaRolesResponse" />
  </wsdl:message>
  <wsdl:message name="rolPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:rolPorId" />
  </wsdl:message>
  <wsdl:message name="rolPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:rolPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="rolPorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:rolPorNombre" />
  </wsdl:message>
  <wsdl:message name="rolPorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:rolPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="insertarRolSoapIn">
    <wsdl:part name="parameters" element="tns:insertarRol" />
  </wsdl:message>
  <wsdl:message name="insertarRolSoapOut">
    <wsdl:part name="parameters" element="tns:insertarRolResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarRolSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarRol" />
  </wsdl:message>
  <wsdl:message name="actualizarRolSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarRolResponse" />
  </wsdl:message>
  <wsdl:portType name="FachadaSoap">
    <wsdl:operation name="validarUsuario">
      <wsdl:input message="tns:validarUsuarioSoapIn" />
      <wsdl:output message="tns:validarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPermisosPorUsuario">
      <wsdl:input message="tns:obtenerPermisosPorUsuarioSoapIn" />
      <wsdl:output message="tns:obtenerPermisosPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaUsuarios">
      <wsdl:input message="tns:listaUsuariosSoapIn" />
      <wsdl:output message="tns:listaUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaPorRol">
      <wsdl:input message="tns:listaPorRolSoapIn" />
      <wsdl:output message="tns:listaPorRolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaClientePorAgente">
      <wsdl:input message="tns:listaClientePorAgenteSoapIn" />
      <wsdl:output message="tns:listaClientePorAgenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="borrarUsuarioPorId">
      <wsdl:input message="tns:borrarUsuarioPorIdSoapIn" />
      <wsdl:output message="tns:borrarUsuarioPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="usuarioPorId">
      <wsdl:input message="tns:usuarioPorIdSoapIn" />
      <wsdl:output message="tns:usuarioPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input message="tns:insertarUsuarioSoapIn" />
      <wsdl:output message="tns:insertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarCliente">
      <wsdl:input message="tns:insertarClienteSoapIn" />
      <wsdl:output message="tns:insertarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <wsdl:input message="tns:actualizarUsuarioSoapIn" />
      <wsdl:output message="tns:actualizarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaEncuestas">
      <wsdl:input message="tns:listaEncuestasSoapIn" />
      <wsdl:output message="tns:listaEncuestasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="encuestaPorIdPassword">
      <wsdl:input message="tns:encuestaPorIdPasswordSoapIn" />
      <wsdl:output message="tns:encuestaPorIdPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="encuestaPorId">
      <wsdl:input message="tns:encuestaPorIdSoapIn" />
      <wsdl:output message="tns:encuestaPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPregunta">
      <wsdl:input message="tns:getPreguntaSoapIn" />
      <wsdl:output message="tns:getPreguntaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorIdAgente">
      <wsdl:input message="tns:listaEncuestasPorIdAgenteSoapIn" />
      <wsdl:output message="tns:listaEncuestasPorIdAgenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorIdCliente">
      <wsdl:input message="tns:listaEncuestasPorIdClienteSoapIn" />
      <wsdl:output message="tns:listaEncuestasPorIdClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarEncuesta">
      <wsdl:input message="tns:insertarEncuestaSoapIn" />
      <wsdl:output message="tns:insertarEncuestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEncuesta">
      <wsdl:input message="tns:actualizarEncuestaSoapIn" />
      <wsdl:output message="tns:actualizarEncuestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorFechaIngreso">
      <wsdl:input message="tns:listaEncuestasPorFechaIngresoSoapIn" />
      <wsdl:output message="tns:listaEncuestasPorFechaIngresoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorFechaVigencia">
      <wsdl:input message="tns:listaEncuestasPorFechaVigenciaSoapIn" />
      <wsdl:output message="tns:listaEncuestasPorFechaVigenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorFechaCierre">
      <wsdl:input message="tns:listaEncuestasPorFechaCierreSoapIn" />
      <wsdl:output message="tns:listaEncuestasPorFechaCierreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarPregunta">
      <wsdl:input message="tns:insertarPreguntaSoapIn" />
      <wsdl:output message="tns:insertarPreguntaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarRespuesta">
      <wsdl:input message="tns:insertarRespuestaSoapIn" />
      <wsdl:output message="tns:insertarRespuestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="preguntaPorId">
      <wsdl:input message="tns:preguntaPorIdSoapIn" />
      <wsdl:output message="tns:preguntaPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="respuestasPorPregunta">
      <wsdl:input message="tns:respuestasPorPreguntaSoapIn" />
      <wsdl:output message="tns:respuestasPorPreguntaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="preguntasPorEncuesta">
      <wsdl:input message="tns:preguntasPorEncuestaSoapIn" />
      <wsdl:output message="tns:preguntasPorEncuestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaRoles">
      <wsdl:input message="tns:listaRolesSoapIn" />
      <wsdl:output message="tns:listaRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="rolPorId">
      <wsdl:input message="tns:rolPorIdSoapIn" />
      <wsdl:output message="tns:rolPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="rolPorNombre">
      <wsdl:input message="tns:rolPorNombreSoapIn" />
      <wsdl:output message="tns:rolPorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarRol">
      <wsdl:input message="tns:insertarRolSoapIn" />
      <wsdl:output message="tns:insertarRolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarRol">
      <wsdl:input message="tns:actualizarRolSoapIn" />
      <wsdl:output message="tns:actualizarRolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FachadaSoap" type="tns:FachadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarUsuario">
      <soap:operation soapAction="http://tempuri.org/validarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPermisosPorUsuario">
      <soap:operation soapAction="http://tempuri.org/obtenerPermisosPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaUsuarios">
      <soap:operation soapAction="http://tempuri.org/listaUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaPorRol">
      <soap:operation soapAction="http://tempuri.org/listaPorRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaClientePorAgente">
      <soap:operation soapAction="http://tempuri.org/listaClientePorAgente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrarUsuarioPorId">
      <soap:operation soapAction="http://tempuri.org/borrarUsuarioPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioPorId">
      <soap:operation soapAction="http://tempuri.org/usuarioPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCliente">
      <soap:operation soapAction="http://tempuri.org/insertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/actualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestas">
      <soap:operation soapAction="http://tempuri.org/listaEncuestas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encuestaPorIdPassword">
      <soap:operation soapAction="http://tempuri.org/encuestaPorIdPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encuestaPorId">
      <soap:operation soapAction="http://tempuri.org/encuestaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPregunta">
      <soap:operation soapAction="http://tempuri.org/getPregunta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorIdAgente">
      <soap:operation soapAction="http://tempuri.org/listaEncuestasPorIdAgente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorIdCliente">
      <soap:operation soapAction="http://tempuri.org/listaEncuestasPorIdCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarEncuesta">
      <soap:operation soapAction="http://tempuri.org/insertarEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEncuesta">
      <soap:operation soapAction="http://tempuri.org/actualizarEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorFechaIngreso">
      <soap:operation soapAction="http://tempuri.org/listaEncuestasPorFechaIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorFechaVigencia">
      <soap:operation soapAction="http://tempuri.org/listaEncuestasPorFechaVigencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorFechaCierre">
      <soap:operation soapAction="http://tempuri.org/listaEncuestasPorFechaCierre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPregunta">
      <soap:operation soapAction="http://tempuri.org/insertarPregunta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarRespuesta">
      <soap:operation soapAction="http://tempuri.org/insertarRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preguntaPorId">
      <soap:operation soapAction="http://tempuri.org/preguntaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="respuestasPorPregunta">
      <soap:operation soapAction="http://tempuri.org/respuestasPorPregunta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preguntasPorEncuesta">
      <soap:operation soapAction="http://tempuri.org/preguntasPorEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaRoles">
      <soap:operation soapAction="http://tempuri.org/listaRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rolPorId">
      <soap:operation soapAction="http://tempuri.org/rolPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rolPorNombre">
      <soap:operation soapAction="http://tempuri.org/rolPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarRol">
      <soap:operation soapAction="http://tempuri.org/insertarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarRol">
      <soap:operation soapAction="http://tempuri.org/actualizarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FachadaSoap12" type="tns:FachadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarUsuario">
      <soap12:operation soapAction="http://tempuri.org/validarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPermisosPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/obtenerPermisosPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaUsuarios">
      <soap12:operation soapAction="http://tempuri.org/listaUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaPorRol">
      <soap12:operation soapAction="http://tempuri.org/listaPorRol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaClientePorAgente">
      <soap12:operation soapAction="http://tempuri.org/listaClientePorAgente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrarUsuarioPorId">
      <soap12:operation soapAction="http://tempuri.org/borrarUsuarioPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioPorId">
      <soap12:operation soapAction="http://tempuri.org/usuarioPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCliente">
      <soap12:operation soapAction="http://tempuri.org/insertarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <soap12:operation soapAction="http://tempuri.org/actualizarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestas">
      <soap12:operation soapAction="http://tempuri.org/listaEncuestas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encuestaPorIdPassword">
      <soap12:operation soapAction="http://tempuri.org/encuestaPorIdPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encuestaPorId">
      <soap12:operation soapAction="http://tempuri.org/encuestaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPregunta">
      <soap12:operation soapAction="http://tempuri.org/getPregunta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorIdAgente">
      <soap12:operation soapAction="http://tempuri.org/listaEncuestasPorIdAgente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorIdCliente">
      <soap12:operation soapAction="http://tempuri.org/listaEncuestasPorIdCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarEncuesta">
      <soap12:operation soapAction="http://tempuri.org/insertarEncuesta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEncuesta">
      <soap12:operation soapAction="http://tempuri.org/actualizarEncuesta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorFechaIngreso">
      <soap12:operation soapAction="http://tempuri.org/listaEncuestasPorFechaIngreso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorFechaVigencia">
      <soap12:operation soapAction="http://tempuri.org/listaEncuestasPorFechaVigencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestasPorFechaCierre">
      <soap12:operation soapAction="http://tempuri.org/listaEncuestasPorFechaCierre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPregunta">
      <soap12:operation soapAction="http://tempuri.org/insertarPregunta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarRespuesta">
      <soap12:operation soapAction="http://tempuri.org/insertarRespuesta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preguntaPorId">
      <soap12:operation soapAction="http://tempuri.org/preguntaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="respuestasPorPregunta">
      <soap12:operation soapAction="http://tempuri.org/respuestasPorPregunta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preguntasPorEncuesta">
      <soap12:operation soapAction="http://tempuri.org/preguntasPorEncuesta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaRoles">
      <soap12:operation soapAction="http://tempuri.org/listaRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rolPorId">
      <soap12:operation soapAction="http://tempuri.org/rolPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rolPorNombre">
      <soap12:operation soapAction="http://tempuri.org/rolPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarRol">
      <soap12:operation soapAction="http://tempuri.org/insertarRol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarRol">
      <soap12:operation soapAction="http://tempuri.org/actualizarRol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fachada">
    <wsdl:port name="FachadaSoap" binding="tns:FachadaSoap">
      <soap:address location="http://localhost/et/fachada.asmx" />
    </wsdl:port>
    <wsdl:port name="FachadaSoap12" binding="tns:FachadaSoap12">
      <soap12:address location="http://localhost/et/fachada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>