trunk/src/etWeb/Web References/et/fachada.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPermisosPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPermisosPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerPermisosPorUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEncuestas">
        <s:complexType />
      </s:element>
      <s:element name="listaEncuestasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaEncuestasResult" type="tns:ArrayOfEncuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEncuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="encuesta" nillable="true" type="tns:encuesta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="encuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_ingreso" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="f_modificacion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="f_vigencia" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="f_cierre" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="id_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="preguntas" type="tns:ArrayOfPregunta" />
          <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPregunta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="pregunta" nillable="true" type="tns:pregunta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="pregunta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="planteo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_ultima_respuesta" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="id_encuesta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nro_pregunta" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="respuestas" type="tns:ArrayOfRespuesta" />
          <s:element minOccurs="0" maxOccurs="1" name="respuesta" type="tns:respuesta" />
          <s:element minOccurs="0" maxOccurs="1" name="encuesta" type="tns:encuesta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRespuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="respuesta" nillable="true" type="tns:respuesta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="contador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="id_pregunta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="id_proxima_pregunta" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pregunta" type="tns:pregunta" />
          <s:element minOccurs="0" maxOccurs="1" name="pregunta1" type="tns:pregunta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id_usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_agente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cliente2" type="tns:cliente" />
          <s:element minOccurs="0" maxOccurs="1" name="encuestas" type="tns:ArrayOfEncuesta" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:usuario" />
          <s:element minOccurs="0" maxOccurs="1" name="cliente1" type="tns:cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_ingreso" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="id_rol" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="clientes" type="tns:ArrayOfCliente" />
          <s:element minOccurs="0" maxOccurs="1" name="rol" type="tns:rol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cliente" nillable="true" type="tns:cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="rol">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="permiso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuarios" type="tns:ArrayOfUsuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="usuario" nillable="true" type="tns:usuario" />
        </s:sequence>
      </s:complexType>
      <s:element name="encuestaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="encuestaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encuestaPorIdResult" type="tns:encuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarEncuesta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unaEncuesta" type="tns:encuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarEncuestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarEncuestaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarEncuesta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="unaEncuesta" type="tns:encuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarEncuestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarEncuestaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaRoles">
        <s:complexType />
      </s:element>
      <s:element name="listaRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaRolesResult" type="tns:ArrayOfRol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="rol" nillable="true" type="tns:rol" />
        </s:sequence>
      </s:complexType>
      <s:element name="rolPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rolPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rolPorIdResult" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarRol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unRol" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarRolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarRolResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarRol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="unRol" type="tns:rol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarRolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarRolResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="listaUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaUsuariosResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usuarioPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usuarioPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioPorIdResult" type="tns:usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unUsuario" type="tns:usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="unUsuario" type="tns:usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:validarUsuario" />
  </wsdl:message>
  <wsdl:message name="validarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:validarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerPermisosPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerPermisosPorUsuario" />
  </wsdl:message>
  <wsdl:message name="obtenerPermisosPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerPermisosPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasSoapIn">
    <wsdl:part name="parameters" element="tns:listaEncuestas" />
  </wsdl:message>
  <wsdl:message name="listaEncuestasSoapOut">
    <wsdl:part name="parameters" element="tns:listaEncuestasResponse" />
  </wsdl:message>
  <wsdl:message name="encuestaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:encuestaPorId" />
  </wsdl:message>
  <wsdl:message name="encuestaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:encuestaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="insertarEncuestaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarEncuesta" />
  </wsdl:message>
  <wsdl:message name="insertarEncuestaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarEncuestaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarEncuesta" />
  </wsdl:message>
  <wsdl:message name="actualizarEncuestaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="listaRolesSoapIn">
    <wsdl:part name="parameters" element="tns:listaRoles" />
  </wsdl:message>
  <wsdl:message name="listaRolesSoapOut">
    <wsdl:part name="parameters" element="tns:listaRolesResponse" />
  </wsdl:message>
  <wsdl:message name="rolPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:rolPorId" />
  </wsdl:message>
  <wsdl:message name="rolPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:rolPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="insertarRolSoapIn">
    <wsdl:part name="parameters" element="tns:insertarRol" />
  </wsdl:message>
  <wsdl:message name="insertarRolSoapOut">
    <wsdl:part name="parameters" element="tns:insertarRolResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarRolSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarRol" />
  </wsdl:message>
  <wsdl:message name="actualizarRolSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarRolResponse" />
  </wsdl:message>
  <wsdl:message name="listaUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:listaUsuarios" />
  </wsdl:message>
  <wsdl:message name="listaUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:listaUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="usuarioPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:usuarioPorId" />
  </wsdl:message>
  <wsdl:message name="usuarioPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:usuarioPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="actualizarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="FachadaSoap">
    <wsdl:operation name="validarUsuario">
      <wsdl:input message="tns:validarUsuarioSoapIn" />
      <wsdl:output message="tns:validarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPermisosPorUsuario">
      <wsdl:input message="tns:obtenerPermisosPorUsuarioSoapIn" />
      <wsdl:output message="tns:obtenerPermisosPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaEncuestas">
      <wsdl:input message="tns:listaEncuestasSoapIn" />
      <wsdl:output message="tns:listaEncuestasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="encuestaPorId">
      <wsdl:input message="tns:encuestaPorIdSoapIn" />
      <wsdl:output message="tns:encuestaPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarEncuesta">
      <wsdl:input message="tns:insertarEncuestaSoapIn" />
      <wsdl:output message="tns:insertarEncuestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEncuesta">
      <wsdl:input message="tns:actualizarEncuestaSoapIn" />
      <wsdl:output message="tns:actualizarEncuestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaRoles">
      <wsdl:input message="tns:listaRolesSoapIn" />
      <wsdl:output message="tns:listaRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="rolPorId">
      <wsdl:input message="tns:rolPorIdSoapIn" />
      <wsdl:output message="tns:rolPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarRol">
      <wsdl:input message="tns:insertarRolSoapIn" />
      <wsdl:output message="tns:insertarRolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarRol">
      <wsdl:input message="tns:actualizarRolSoapIn" />
      <wsdl:output message="tns:actualizarRolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaUsuarios">
      <wsdl:input message="tns:listaUsuariosSoapIn" />
      <wsdl:output message="tns:listaUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="usuarioPorId">
      <wsdl:input message="tns:usuarioPorIdSoapIn" />
      <wsdl:output message="tns:usuarioPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input message="tns:insertarUsuarioSoapIn" />
      <wsdl:output message="tns:insertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <wsdl:input message="tns:actualizarUsuarioSoapIn" />
      <wsdl:output message="tns:actualizarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FachadaSoap" type="tns:FachadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarUsuario">
      <soap:operation soapAction="http://tempuri.org/validarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPermisosPorUsuario">
      <soap:operation soapAction="http://tempuri.org/obtenerPermisosPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestas">
      <soap:operation soapAction="http://tempuri.org/listaEncuestas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encuestaPorId">
      <soap:operation soapAction="http://tempuri.org/encuestaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarEncuesta">
      <soap:operation soapAction="http://tempuri.org/insertarEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEncuesta">
      <soap:operation soapAction="http://tempuri.org/actualizarEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaRoles">
      <soap:operation soapAction="http://tempuri.org/listaRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rolPorId">
      <soap:operation soapAction="http://tempuri.org/rolPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarRol">
      <soap:operation soapAction="http://tempuri.org/insertarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarRol">
      <soap:operation soapAction="http://tempuri.org/actualizarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaUsuarios">
      <soap:operation soapAction="http://tempuri.org/listaUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioPorId">
      <soap:operation soapAction="http://tempuri.org/usuarioPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/actualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FachadaSoap12" type="tns:FachadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarUsuario">
      <soap12:operation soapAction="http://tempuri.org/validarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPermisosPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/obtenerPermisosPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEncuestas">
      <soap12:operation soapAction="http://tempuri.org/listaEncuestas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encuestaPorId">
      <soap12:operation soapAction="http://tempuri.org/encuestaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarEncuesta">
      <soap12:operation soapAction="http://tempuri.org/insertarEncuesta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEncuesta">
      <soap12:operation soapAction="http://tempuri.org/actualizarEncuesta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaRoles">
      <soap12:operation soapAction="http://tempuri.org/listaRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rolPorId">
      <soap12:operation soapAction="http://tempuri.org/rolPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarRol">
      <soap12:operation soapAction="http://tempuri.org/insertarRol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarRol">
      <soap12:operation soapAction="http://tempuri.org/actualizarRol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaUsuarios">
      <soap12:operation soapAction="http://tempuri.org/listaUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioPorId">
      <soap12:operation soapAction="http://tempuri.org/usuarioPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <soap12:operation soapAction="http://tempuri.org/actualizarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fachada">
    <wsdl:port name="FachadaSoap" binding="tns:FachadaSoap">
      <soap:address location="http://localhost/et/fachada.asmx" />
    </wsdl:port>
    <wsdl:port name="FachadaSoap12" binding="tns:FachadaSoap12">
      <soap12:address location="http://localhost/et/fachada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>