src/eTronWeb/Web References/ProxyFachada/Fachada.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UsuarioLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsuarioLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioLoginResult" type="tns:ResultadoWs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoWs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UsuarioLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UsuarioLogin" />
  </wsdl:message>
  <wsdl:message name="UsuarioLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UsuarioLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="FachadaSoap">
    <wsdl:operation name="UsuarioLogin">
      <wsdl:input message="tns:UsuarioLoginSoapIn" />
      <wsdl:output message="tns:UsuarioLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FachadaSoap" type="tns:FachadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UsuarioLogin">
      <soap:operation soapAction="http://tempuri.org/UsuarioLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FachadaSoap12" type="tns:FachadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UsuarioLogin">
      <soap12:operation soapAction="http://tempuri.org/UsuarioLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fachada">
    <wsdl:port name="FachadaSoap" binding="tns:FachadaSoap">
      <soap:address location="http://localhost:49882/Fachada.asmx" />
    </wsdl:port>
    <wsdl:port name="FachadaSoap12" binding="tns:FachadaSoap12">
      <soap12:address location="http://localhost:49882/Fachada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>